# suppress the following warning
# > npm WARN lifecycle The node binary used for scripts is /tmp/yarn--1570642579777-0.3007238374007599/node but npm is using /home/xy/.nvm/versions/node/v12.5.0/bin/node itself. Use the `--scripts-prepend-node-path` option to include the path for the node binary npm was executed with.
# refer to:
# https://github.com/yarnpkg/yarn/issues/6617
# https://stackoverflow.com/questions/51293566/how-to-include-the-path-for-the-node-binary-npm-was-executed-with/51295237#51295237
scripts-prepend-node-path=true