// we have to put this in root level
// because searchHeaderSelectDropdown is not a child of searchPage after rendering
.searchHeaderSelectDropdown {
  :global .ant-select-dropdown-menu-item {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }

  :global .ant-spin-spinning {
    width: 100%;

    .ant-spin-dot {
      vertical-align: middle;
    }
  }
}

.searchPage {

  height: 100vh;

  .searchHeader {
    height: 100%;
    display: flex;
    align-items: center;

    .searchHeaderInput :global {
      display: flex;
      align-items: center;

      .ant-select {
        width: 300px;
      }

      .ant-select-selection {
        border: 0;
        height: auto;

        .ant-select-selection__rendered {
          height: 100%;
          margin: 0;

          .ant-input {
            border-radius: 0;
          }
        }
      }
    }

  }

  .searchPanel :global {
    height: 100%;

    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .ant-tabs-tab {
      text-align: center;
      min-width: 130px;
    }

    .ant-tabs-content {
      flex: 1;
    }
  }
}

